<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{%- comment %} https://docs.google.com/presentation/d/1rmxwWa9P6_xHqonmh5ONXRS-jPc5XKbnv99Rjkhe04s/present {% endcomment -%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  {% if site.enable_copy_code_button -%}
    window.enable_copy_code_button = true;
  {%- endif %}
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- Social sharing metadata -->
<meta property="og:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} {{ site.title_separator }} {{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ page.description }}{% endif %}">
<meta property="og:image" content="{% if page.og_image %}{{ page.og_image | absolute_url }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">

<!-- Twitter Card metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.og_title %}{{ page.og_title }}{% else %}{{ page.title }} {{ site.title_separator }} {{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.og_description %}{{ page.og_description }}{% else %}{{ page.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.og_image %}{{ page.og_image | absolute_url }}{% endif %}">